# Servidor / Autenticação Privada
ADMIN_EMAIL=admin@exemplo.com
ADMIN_PASSWORD="sua_senha_aqui"

# Supabase (Público no Cliente)
NEXT_PUBLIC_SUPABASE_URL=https://seu-projeto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua-chave-anonima-aqui